VITE_APP_JAZZ_API_KEY=
VITE_APP_TELEGRAM_API_TOKEN=
VITE_APP_DEV=true
VITE_APP_MOCK_FIRST_NAME=
VITE_APP_MOCK_LAST_NAME=
VITE_APP_MOCK_USER_ID=
VITE_APP_MOCK_PHOTO_URL=https://t.me/i/userpic/320/it5N-6kWcwjFkjS2ju7doeoXxu5MTcD-OjMf614ZB6O_kE_ycZm8Omc4lfLgqHE6.svg
